:root {
  /* Backgrounds */

  --mainBg1: hsl(222, 26%, 31%);
  --secBg1: hsl(223, 31%, 20%);
  --screenBg1: hsl(224, 36%, 15%);

  /* Text */

  --darkText1: hsl(60, 10%, 19%);
  --text1: white;

  /* Keys */

  --keyBg1: hsl(6, 63%, 50%);
  --keyColor1: hsl(225, 21%, 49%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--mainBg1);
  color: var(--text1);
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text1);
}

/* Display Flex */
header,
.theme-id,
.theme-container,
.result-box,
.keypads {
  display: flex;
}

/* HEADER */

header {
  padding: 1em 2em;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.theme-id {
  justify-content: flex-end;
}

.theme-id span {
  font-size: 0.8rem;
  padding-right: 1.25em;
}

.theme-container {
  justify-content: space-between;
  align-items: center;
}

.theme-container p {
  padding-right: 2em;
  font-size: 0.75rem;
  font-weight: 600;
}

.theme-selector {
  padding: 0.5em 0.7em 0.3em 1em;
  border-radius: 20px;
  background-color: var(--secBg1);
}

.theme-selector input {
  margin-right: 0.3em;
}

input[type="radio"]:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--secBg1);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--secBg1);
}

input[type="radio"]:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: var(--keyBg1);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid var(--keyBg1);
}

/* RESULT-BOX */

.result-box {
  background-color: var(--secBg1);
  margin: 0 1em 1em;
  padding: 0.5em;
  height: 110px;
  border-radius: 5px;
  font-size: 2rem;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  flex-wrap: wrap;
}

.first-number {
  font-size: 1.3rem;
  width: inherit;
}

/* KEYPADS */

.keypads {
  background-color: var(--secBg1);
  margin: 0 2em;
  padding: 1.5em;
  border-radius: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.keypads button {
  font-size: 1.7rem;
  margin-bottom: 0.5em;
  padding: 0.3em 0.5em;
  font-weight: 600;
  color: var(--keyColor1);
  border-radius: 5px;
  width: 60px;
}

.delete-btn {
  background: var(--keyColor1);
  color: white !important;
  font-size: 1rem !important;
  margin-bottom: 0.9em !important;
}

.reset-btn,
.equal-btn {
  width: 180px !important;
  font-size: 1rem !important;
  padding: 1em !important;
}

.reset-btn {
  background-color: var(--keyColor1);
  color: white !important;
}

.equal-btn {
  background-color: var(--keyBg1);
  color: white !important;
}

/* FOOTER */

footer {
  text-align: center;
  margin: 1.5em auto 1em;
  font-size: 0.9rem;
}
